* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Le style du header et du menu de navigation */

header {
  font-family: "Great Vibes";
  font-size: 3.5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

header span {
  letter-spacing: 5px;
}

header a,
.langue a {
  color: black;
  text-decoration: none;
}

.header {
  background-color: white;
  top: 0px;
  margin: 1.5rem 0;
}

.menu {
  display: block;
  text-align: center;
  width: 100%;
}

.langue {
  display: inline-block;
  padding: 10px 30px 0px 0px;
}

.langue img {
  padding-right: 5px;
}

.nav {
  display: inline-block;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin: 0 2px;
  cursor: pointer;
}

.nav .active {
  font-weight: bold;
  text-decoration: underline;
}

/* .nav .active::before {
  content: "✝";
} */

.menu a {
  font-family: "Gabriela";
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
  padding: 5px;
}

.menu a:hover,
.menu a:active {
  text-decoration: underline;
}

/* Le style de la page d'accueil */

.accueil {
  height: 680px;
  background: url(../images/Photos/chateau-default.jpg) no-repeat;
  clear: both;
}

/* Le style du contenu */

.content {
  width: calc(100% - 10vw);
  max-width: 40rem;
  margin: 0px auto;
  clear: both;
  margin-top: 5vh;
  margin-bottom: 200px;
}

body {
  font-family: "Merriweather", "Arial";
  font-size: 0.9rem;
  margin: 0px;
  color: black;
}

.content picture,
.content img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 100%;
  height: auto;
}

.content figcaption {
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  max-width: 80%;
  text-align: center;
}

/* Le style des titres */

.title_wrapper {
  text-align: center;
  clear: both;
  padding-top: 40px;
  padding-bottom: 20px;
}

h1 {
  font-family: "Gabriela";
  font-size: 1.5rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0 1rem 0;
}

/* Le style des zones de texte */

.row::after {
  content: "";
  clear: both;
  display: table;
}

.p80 {
  width: 80%;
  margin: 1rem auto;
}

.p1-3 {
  width: calc(100% / 3);
  padding: 0 5px 0 5px;
}

.p2-3 {
  width: calc(100% / 3 * 2);
  padding: 0 5px 0 5px;
}

.right {
  float: right;
}

.left {
  float: left;
}

@media (max-width: 38em) {
  .p80,
  .p1-3,
  .p2-3 {
    width: calc(100% - 20px);
    margin: 1rem auto;
    float: none;
  }
}

/* La carte dans la page "Contact" */

.googlemap {
  text-align: center;
}

.map {
  display: inline-block;
}

/* Le style du tableau des prix et des activités */

figure,
table {
  margin: 1rem auto;
  border-collapse: collapse;
}

figure.left,
figure.right {
  margin: 0;
}

th {
  font-weight: bold;
}

td,
th {
  padding: 5px 10px;
  border: 1px solid #555;
}

td.price {
  text-align: center;
}

label {
  display: inline-block;
  margin: 0.5rem 0;
}

/* Le style du footer */

.footer {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  font-size: 0;
  text-align: center;
}

.footer::before {
  content: " ";
  display: block;
  background: url("../images/fondu.png") repeat-x;
  display: block;
  height: 35px;
}

footer {
  display: block;
  background-color: white;
  margin: 0 auto;
}

footer img {
  max-width: 100%;
}

footer p {
  margin: 0px;
  padding: 0 0 10px 0px;
  font-size: 1rem;
}

/* Contenus externes */

.embed-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 2em 0;
}

.embed-wrapper iframe,
.embed-wrapper object,
.embed-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* form */

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
  margin: 30px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="date"] {
  width: calc(50% - 2px);
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

@media (max-width: 38em) {
  #contact input[type="date"] {
    width: 100%;
  }
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgb(80, 80, 80);
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 1rem;
}

#contact button[type="submit"]:hover {
  background: rgb(0, 0, 0);
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* Accessibility */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none;
}
