<div class="container">
	<form id="contact" name="booking" netlify-honeypot="jean-jacques-walli" netlify>
		<p class="hidden" aria-hidden="true">
    		<label>Don’t fill this out: <input name="jean-jacques-walli"></label>
  		</p>
		<fieldset>
            <label for="nom" class="sr-only">{% t Votre nom %}</label>
			<input id="nom" name="nom" placeholder="{% t Votre nom %}" type="text" required>
		</fieldset>
		<fieldset>
            <label for="email" class="sr-only">{% t Votre adresse email%}</label>
			<input id="email" name="email" placeholder="{% t Votre adresse email %} ({% t facultatif %})" type="email">
		</fieldset>
		<fieldset>
            <label for="telephone" class="sr-only">{% t Votre numéro de téléphone %}</label>
			<input id="telephone" name="telephone" placeholder="{% t Votre numéro de téléphone %}" type="tel" required>
		</fieldset>
		<fieldset>
            <label for="a-partir-du" class="sr-only">{% t Date d'arrivée %}</label>
			<input type="date" name="a-partir-du" id="a-partir-du" placeholder="{% t Date d'arrivée %}" required></input>
			<label for="jusqu-au" class="sr-only">{% t Date de départ %}</label>
			<input type="date" id="jusqu-au" name="jusqu-au" placeholder="{% t Date de départ %}" required></input>
		</fieldset>
		<fieldset>
            <label for="email" class="sr-only">{% t Votre message %}</label>
			<textarea id="message" name="message" placeholder="{% t Votre message %}" required></textarea>
		</fieldset>
		<fieldset>
			<button type="submit" id="contact-submit">{% t Envoyer %}</button>
		</fieldset>
		<p class="info">
			{{ include.reassurance }}
		</p>
	</form>
	</form>
</div>