<head>
    <title>{{ page.title }} – {{ site.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex,nofollow">
    <link href="https://fonts.googleapis.com/css?family=Gabriela|Great+Vibes|Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <!-- <script type="text/javascript" src="script/jquery-3.2.1.min"></script> -->
</head>